[core]
        excludesfile = ~/.gitignore_global

[init]
	defaultBranch = master

[checkout]
	defaultRemote = origin

[user]
        name = Albert Chan
        email = atfchan@gmail.com

[alias]
        st = status
        ci = commit
        cl = clone
        co = checkout
        br = branch
        unstage = reset HEAD --
        last = log -1 HEAD
